/**
 * Override materialize-css variables
 */
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";

$primary-color: #0e314b;

$link-color: $primary-color;

$placeholder-text-color: $primary-color;

$input-focus-color: $primary-color;

$dropdown-color: $primary-color;
