div.pagination {
  .row {
    margin-bottom: 0;
  }
  ul {
    text-align: center;
    li {
      a {
        &.icon {
          padding: 0;
        }
      }
    }
  }
  .col.results-count {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
  }

  .col.perpage-label {
    font-size: 0.8rem;
    padding: 2px 0 0;
    text-align: left;
  }
  .pages-dd {
    margin-top: 0;
  }
}
